USE [master]
GO
/****** Object:  Database [BIBLIOTECA]    Script Date: 28/10/2020 15:20:50 ******/
CREATE DATABASE [BIBLIOTECA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BIBLIOTECA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTECA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BIBLIOTECA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECA]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 28/10/2020 15:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[Autor] [nvarchar](150) NOT NULL,
	[Fecha] [date] NOT NULL,
	[NumEjemplares] [int] NOT NULL,
	[Costo] [money] NOT NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LIBRO__75E3EFCF8A09D3E1]    Script Date: 28/10/2020 15:20:51 ******/
ALTER TABLE [dbo].[LIBRO] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO

INSERT [dbo].[LIBRO] ([Codigo], [Nombre], [Descripcion], [Autor], [Fecha], [NumEjemplares], [Costo]) VALUES (N'1', N'Libro 1', N'Libro chevere', N'LAPC', CAST(N'2020-12-12' AS Date), 1, 25.0000)
INSERT [dbo].[LIBRO] ([Codigo], [Nombre], [Descripcion], [Autor], [Fecha], [NumEjemplares], [Costo]) VALUES (N'2', N'Libro 2', N'Libro chevere', N'LAPC', CAST(N'2020-12-12' AS Date), 3, 25.0000)
INSERT [dbo].[LIBRO] ([Codigo], [Nombre], [Descripcion], [Autor], [Fecha], [NumEjemplares], [Costo]) VALUES (N'3', N'Libro 3', N'Libro chevere', N'LAPC', CAST(N'2020-12-12' AS Date), 3, 25.0000)
GO